<div class="container">
    <div class="footer-main row">
        <div class="col">
            <div class="footer-details">
                <img class="footer-logo" src="~/assets/img/zBlastLogo.png"/>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam</p>
            </div>
        </div>

        <div class="col">
            <div>
                <p class="footer-main-title">Product</p>
                <ul>
                    <li><a href="">Features</a></li>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">Case Studies</a></li>
                    <li><a href="">Reviews</a></li>
                    <li><a href="">Updates</a></li>
                </ul>
            </div>
        </div>

        <div class="col">
            <div>
                <p class="footer-main-title">Company</p>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">News and Events</a></li>
                    <li><a href="">Careers</a></li>
                </ul>
            </div>
        </div>

        <div class="col">
            <div>
                <p class="footer-main-title">Support</p>
                <ul>
                    <li><a href="">Getting Started</a></li>
                    <li><a href="">Help center</a></li>
                    <li><a href="">Server status</a></li>
                    <li><a href="">Report a bug</a></li>
                    <li><a href="">Chat support</a></li>
                </ul>
            </div>
        </div>

        <div class="col">
            <div>
                <p class="footer-main-title">Contact Us</p>
                <ul>
                    <li><img src=""/><a href="">contact@zblazt.com</a></li>
                    <li><img src=""/><a href="">(xx) xxxx-xxxx</a></li>
                    <li><img src=""/><a href="">Parañaque City, Philippines</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr /> 
    <span class="footer-copyright">Copyright &copy zblaZt @DateTime.Now.Year</span>
    <span class="footer-terms">All Rights Reserved | <a asp-area="" asp-page="">Terms and Conditions</a> | <a asp-area="" asp-page="/Privacy">Privacy Policy</a></span>
</div>