<div id="nav-container" class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
    
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul id="nav-links" class="nav-links navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Privacy">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Privacy">News and Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Privacy">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a id="signup-btn" class="nav-link btn btn-primary rounded-pill text-white shadow" asp-area="" asp-page="/Privacy">Sign Up</a>
                </li>
            </ul>
        </div>
</div>