/* RESPONSIVENESS - MOBILE PHONE */
@media (max-width: 480px) {

    #nav-container {
        width: 100%;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        }

    .navbar-brand {
        height: 30px;
        background-size: contain;
        float: left;
        margin-bottom: 10px;
        padding: 0;
        margin: 0;
        white-space: nowrap;
    }

    .hero {
        width: 380px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero-img-container {
        order: 3;
        height: 200px;
        width: 370px;
        align-content: center;
        justify-content: center;
        align-self: center;
    }

    .hero-img {
        height: 500px;
        margin-left: 20px;
        margin-top: 100px;
    }

    .hero-buttons {
        margin-left: 14px;
        align-self: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        width: 370px;
    }

    .main-text {
        font-size: 30px;
        line-height: 35px;
        text-align: center;
    }

    .sub-text {
        font-size: 10px;
        text-align: center;
    }

    .card-row {
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-self: center;
        align-items: center;
        margin-block: 40px;
    }

    .card {
        margin-top: 50px;
    }

    .choose-img {
        display:none;
    }

    .choose {
        align-content: center;
        justify-content: center;
        align-self: center;
        align-items: center;
    }

    .choose-text {
        width: 300px;
        text-align: center;
    }

    .choose-text-main {
        display: none;
        width: 10px;
        font-size: 10px;
    }

    .choose-text-list {
        width: 300px;   
    }

    .dashboard-text {
        font-size: 25px;
    }

    .dashboard-img {
        width: 10px;
    }

    .newsletter-img {
        display: none;
    }

    .newsletter form {
        display: none;
    }

    .footer-main {
        margin: 10px;
        margin-top: 15px;
        padding: 5px;
    }

    .footer-main-row {
        width: 80px;
    }

    footer span {
        font-size: 8px;
        text-align: center;
        align-content: center;
        justify-content: center;
        align-self: center;
        align-items: center;
    }
}

/* RESPONSIVENESS - 5SMALL TABLET [Ipad Mini - based] */ /* TODO: Fix for smaller tablet design */
@media (min-width: 481px) and (max-width: 768){

    html {
        /* NONE */
        overflow-x: hidden;
    }

    /* NAV [RESPONSIVE] */
    nav {
        width: 100%;
    }

    .navbar-brand {
        height: 70px;
        width: 100%;
    }

    .nav-links a {
        width: 80px;
        font-size: 8px;
        font-weight: 700;
        justify-content: space-evenly;
    }

    .nav-links li {
        justify-content: space-between;
        margin: 0px;
    }
    /* END OF NAV [RESPONSIVE] STYLES*/

    /* HERO [RESPONSIVE] */
    .hero-img-container {
        height: 100px;
    }

    .hero-img {
        height: 100px;
        width: auto;
        margin-top: -100px;
    }

    .main-text {
        width: 100%;
        font-size: 40px;
        line-height: 50px;
        background-color: black;
    }

    .sub-text {
        font-size: 10px;
        opacity: 0.5;
    }

    /* HERO BUTTONS */
    .start-btn {
        padding: 10px;
        padding-inline: 35px;
    }

    .watch-btn {
        padding: 5px;
        padding-inline: 20px;
        margin-top: 15px;
        font-size: 12px;
    }
    /* END OF [RESPONSIVE] HERO STYLES */

    /* CARD ROW [RESPONSIVE] */
    section {
        width: 100%;
    }

    .card {
        height: 250px;
        margin-inline: 8px;
    }

        .card img {
            width: 40px;
            height: 40px;
        }

    .card-text-container {
        padding: 25px;
    }

    .card-main-text {
        font-size: 10px;
    }

    .card-sub-text {
        font-size: 10px;
    }
    /* END OF CARD ROW [RESPONSIVE] STYLES */

    /* DASHBOARD SECTION [RESPONSIVE] STYLES*/
    .dashboard-text {
        font-size: 30px;
    }
    /* END OF DASHBOARD SECTION [RESPONSIVE] STYLES */

    /* WHY CHOOSE SECTION [RESPONSIVE] */
    .choose {
        width: 100px;
        display: flex;
        flex-direction: column;
        margin-top: -40px;
    }

    .choose-text-list {
        width: 700px;
    }

    .choose-text-list img {
        display: none;
    }

    .choose-text-list p {
        font-size: 10px;
    }

    .choose-text {
        width: 700px;
        text-align: center;
    }

    .choose-img-container {
        margin: 0;
        padding: 0;
        margin-right: -300px;
        width: 100%;
    }

    .choose-img {
        width: 720px;
        margin-top: 40px;
    }
    /* END OF WHY CHOOSE SECTION [RESPONSIVE] STYLES */

    /* NEWS LETTER [RESPONSIVE]*/
    .newsletter {
    }

    .newsletter-img {
        width: 100%;
    }

    .newsletter-content {
        width: 250px;
        bottom: 25%;
        left: 33%;
        font-size: 4px;
    }

    .newsletter-prompt {
        font-size: 20px;
    }

    .newsletter-sub-text {
        font-size: 8px;
        width: 250px;
        justify-content: center;
    }

    input[type=text] {
        font-size: 10px;
        padding: 15px;
    }

        input[type=text]:focus {
            font-size: 12px;
        }
    /* END OF NEWS LETTER [RESPONSIVE] STYLES */

    /* FOOTER [RESPONSIVE] */
    footer {
        font-size: 10px;
    }

    .col {
        padding: 0;
        margin: 0;
    }

    .footer-details {
        width: 50px;
        font-size 8px;
    }

    footer img {
        width: 80px;
    }

    footer .container {
        height: 450px;
    }
    /* END OF FOOTER [RESPONSIVE] STYLES */

    .choose {
        width: 50px;
    }

    .dashboard-img {
        width: 10px;
    }

    .hero {
        width: 100%;
    }
}

/* RESPONSIVENESS - BIG TABLET [Ipad Pro - based] */
@media (min-width: 769px) and (max-width: 1024px) {

    html {
        /* NONE */
    }

    /* NAV [RESPONSIVE] */
    nav {
        width: 100%;
    }

    .navbar-brand {
        height: 70px;
        width: 100%;
    }

    .nav-links a {
        width: 80px;
        font-size: 8px;
        font-weight: 700;
        justify-content: space-evenly;
    }

    .nav-links li {
        justify-content: space-between;
        margin: 4px;
    }
    /* END OF NAV [RESPONSIVE] STYLES*/

    /* HERO [RESPONSIVE] */
    .hero-img-container {
        height: 550px;
    }

    .hero-img {
        height: 730px;
        width: auto;
        margin-top: -100px;
    }

    .main {
        margin-left: 15px;
    }

    .main-text {
        width: 100%;
        font-size: 40px;
        line-height: 50px;
    }

    .sub-text {
        font-size: 10px;
        opacity: 0.5;
    }

    /* HERO BUTTONS */
    .start-btn {
        padding: 10px;
        padding-inline: 35px;
    }

    .watch-btn {
        padding: 5px;
        padding-inline: 20px;
        font-size: 12px;
    }
    /* END OF [RESPONSIVE] HERO STYLES */

    /* CARD ROW [RESPONSIVE] */
    section {
        width: 100%;
        margin-left: 15px;
    }

    .card {
        height: 250px;
        margin-inline: 8px;
    }

        .card img {
            width: 40px;
            height: 40px;
        }

    .card-text-container {
        padding: 25px;
    }

    .card-main-text {
        font-size: 10px;
    }

    .card-sub-text {
        font-size: 10px;
    }
    /* END OF CARD ROW [RESPONSIVE] STYLES */

    /* DASHBOARD SECTION [RESPONSIVE] STYLES*/
    .dashboard-text {
        font-size: 30px;
    }
    /* END OF DASHBOARD SECTION [RESPONSIVE] STYLES */

    /* WHY CHOOSE SECTION [RESPONSIVE] */
    .choose {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: -40px;
    }

    .choose-text-list {
        width: 90vw;
    }

        .choose-text-list img {
            display: none;
        }

        .choose-text-list p {
            font-size: 10px;
        }

    .choose-text {
        width: 90vw;
        text-align: center;
    }

    .choose-img-container {
        margin: 0;
        padding: 0;
        margin-right: -800px;
        width: 1000px;
    }

    .choose-img {
        width: 760px;
        margin-top: 40px;
        float: right;
    }
    /* END OF WHY CHOOSE SECTION [RESPONSIVE] STYLES */

    /* NEWS LETTER [RESPONSIVE]*/
    .newsletter {
    }

    .newsletter-img {
        width: 100%;
    }

    .newsletter-content {
        width: 250px;
        bottom: 30%;
        left: 38%;
        font-size: 4px;
    }

    .newsletter-prompt {
        font-size: 20px;
    }

    .newsletter-sub-text {
        font-size: 8px;
        width: 250px;
        justify-content: center;
    }

    input[type=text] {
        font-size: 10px;
        padding: 15px;
    }

        input[type=text]:focus {
            font-size: 12px;
        }
    /* END OF NEWS LETTER [RESPONSIVE] STYLES */

    /* FOOTER [RESPONSIVE] */
    footer {
        font-size: 10px;
    }

    .col {
        padding: 0;
        margin: 0;
    }

    .footer-details {
        width: 50px;
        font-size 8px;
    }

    footer img {
        width: 80px;
    }

    footer .container {
        height: 450px;
    }
    /* END OF FOOTER [RESPONSIVE] STYLES */

    .choose {
        width: 50px;
    }

    .dashboard-img {
        width: 10px;
    }

    .hero {
        width: 100%;
    }
}