/* RESPONSIVENESS - MOBILE PHONE */
@media (max-width: 480px) {
    .hero.grid-container {
        grid-template-columns: 1fr;
       
    }

    .hero {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .hero-buttons {
        text-align: center;
    }

    .hero-img-container {
        order: 1;
        justify-content: center;
        justify-self: center;
        align-content: center;
        align-items: center;
    }

    .hero-img {
        padding: 40px;
        width: 100%;
        align-self: center;
    }

    .main {
        padding: 20px;
        order: 2;
    }

    .main-text {
        font-size: 60px;
        line-height: 60px;
        text-align: center;
    }

    .sub-text {
        text-align: center;
    }

    .card-row {
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 20px;
        align-items: center;
        height: 100%;
    }

    .card {
        width: 80%;
        padding-top: 20px;
    }

    .dashboard {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .choose {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
    }

    .choose-text {
        padding-left: 0px;
        text-align: center;
    }

    .choose-text-list {
        width: 100%;
        padding-inline: 40px;
        padding-bottom: 50px;
    }

    .newsletter {
        display: none;
    }

    .footer span {
        font-size: 10px;
    }

}

/* RESPONSIVENESS - 5SMALL TABLET [Ipad Mini - based] */ /* TODO: Fix for smaller tablet design */
@media (min-width: 481px) and (max-width: 768px) {
    
    .hero {
        padding-bottom: 20px;
    }
    
    .main-text {
        font-size: 30px;
        line-height: 35px;
    }

    .card-row {
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 50%;
        align-self: center;
        margin-bottom: 40px;
    }

    .dashboard {
        padding-bottom: 40px;
    }

    .choose-text {
        padding-left: 50px;
    }

    .newsletter {
        display: none;
    }
}

/* RESPONSIVENESS - BIG TABLET [Ipad Pro - based] */
@media (min-width: 769px) and (max-width: 1024px) {

    html {
        /* NONE */
    }

    /* NAV [RESPONSIVE] */
    nav {
        width: 100%;
    }

    .navbar-brand {
        height: 70px;
        width: 100%;
    }

    .nav-links a {
        width: 80px;
        font-size: 8px;
        font-weight: 700;
        justify-content: space-evenly;
    }

    .nav-links li {
        justify-content: space-between;
        margin: 4px;
    }
    /* END OF NAV [RESPONSIVE] STYLES*/

    /* HERO [RESPONSIVE] */

    .main {
        margin-left: 15px;
    }

    .main-text {
        width: 100%;
        font-size: 40px;
        line-height: 50px;
    }

    .sub-text {
        font-size: 10px;
        opacity: 0.5;
    }

    /* HERO BUTTONS */
    .start-btn {
        padding: 10px;
        padding-inline: 35px;
    }

    .watch-btn {
        padding: 5px;
        padding-inline: 20px;
        font-size: 12px;
    }
    /* END OF [RESPONSIVE] HERO STYLES */

    /* CARD ROW [RESPONSIVE] */
    section {
        width: 100%;
    }

    .card {
        height: 250px;
        margin-inline: 8px;
    }

        .card img {
            width: 40px;
            height: 40px;
        }

    .card-text-container {
        padding: 25px;
    }

    .card-main-text {
        font-size: 10px;
    }

    .card-sub-text {
        font-size: 10px;
    }
    /* END OF CARD ROW [RESPONSIVE] STYLES */

    /* DASHBOARD SECTION [RESPONSIVE] STYLES*/
    .dashboard {
        padding-bottom: 100px;
    }

    .dashboard-text {
        font-size: 30px;
    }
    /* END OF DASHBOARD SECTION [RESPONSIVE] STYLES */

    /* WHY CHOOSE SECTION [RESPONSIVE] */
    .choose {
        padding-top: 50px;
    }

    .choose-grid-container {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .choose-text-list {
        width: 100%;
    }

    .choose-text-list img {
        display: none;
    }

    .choose-text-list p {
        font-size: 10px;
    }

    .choose-text {
        width: 100%;
        padding: 0;
        text-align: center;
        padding-bottom: 150px;
    }

    .choose-img {
        float: right;
    }
    /* END OF WHY CHOOSE SECTION [RESPONSIVE] STYLES */

    .newsletter{
        display: none;
    }

    /* FOOTER [RESPONSIVE] */
    footer {
        font-size: 10px;
    }

    .col {
        padding: 0;
        margin: 0;
    }

    .footer-details {
        width: 50px;
        font-size 8px;
    }

    footer img {
        width: 80px;
    }

    footer .container {
        height: 450px;
    }
    /* END OF FOOTER [RESPONSIVE] STYLES */

    .hero {
        width: 100%;
    }
}