<!DOCTYPE <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]Maintenance Page</title>
        <link href="~/css/StyleSheet.css" rel="stylesheet" />
    </head>
    <body>
        <nav>

        </nav>

        <div>
            <img src="~/assets/img/maintenance.png"/>
            <p>Exciting News!</p>
            <p>We're Enhancing Your Experience!</p>

            <a>Go Back to Website</a>
        </div>

        <footer>hello</footer>
    </body>
</html>
